version: '3.3'

services:
  db:
    image: postgres:14.7-alpine
    env_file:
      - .env
    volumes:
      - db:/var/lib/postgresql/data

  api:
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - static:/usr/src/app/static
      - media:/usr/src/app/media
      - .:/usr/src/app/
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - 8000:8000
    depends_on:
      - db

volumes:
  static:
  media:
  db:
  .:
