{% extends './base.html' %}

{% load static %}

{% load i18n %}


{% block content %}
<main>
  <article>

    <!-- 
          - #HERO
        -->

    <section class="section hero has-bg-image" aria-label="home"
      style="background-image: url({% static 'assets/images/hero-bg.jpg' %})">
      <div class="container">

        <div class="hero-content">

          <h1 class="h1 hero-title">{% trans "EvionPlus: Ведущий поставщик энергии." %}</h1>

          <p class="hero-text">
            {% trans "Гидроэлектростанция мощностью 18 мегаватт." %}
          </p>

          <div class="btn-wrapper">

            <a href="#" class="btn btn-primary">{% trans "Узнать больше" %}</a>

            <a href="#" class="btn btn-outline">{% trans "Связаться с нами" %}</a>

          </div>

        </div>

        <div class="hero-slider" data-slider>

          <div class="slider-inner">
            <ul class="slider-container" data-slider-container>

              <li class="slider-item">

                <figure class="img-holder" style="--width: 575; --height: 550;">
                  <img src="https://cs14.pikabu.ru/post_img/big/2021/12/14/4/1639457209186510835.jpg" width="575"
                    height="550" alt="" class="img-cover">
                </figure>

              </li>

              <li class="slider-item">

                <div class="hero-card">
                  <figure class="img-holder" style="--width: 575; --height: 550;">
                    <img
                      src="https://img.kapital.kz/UZY87YPFqI8/bG9jYWw6Ly8vYy80L2YvZi8wLzBmZTlmZTE1MmM5YzRmY2E5YmI0ZGY0N2ZjZC5qcGc"
                      width="575" height="550" alt="hero banner" class="img-cover">
                  </figure>
                </div>

              </li>

              <li class="slider-item">

                <figure class="img-holder" style="--width: 575; --height: 550;">
                  <img src="https://www.severelectro.kg/uploads/articles/mini/9331c7843640.jpg" width="575" height="550"
                    alt="" class="img-cover">
                </figure>

              </li>

            </ul>
          </div>

          <button class="slider-btn prev" aria-label="slide to previous" data-slider-prev>
            <ion-icon name="arrow-back"></ion-icon>
          </button>

          <button class="slider-btn next" aria-label="slide to next" data-slider-next>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>

        </div>

      </div>
    </section>





    <!-- 
          - #SERVICE
        -->

    <section class="section service" aria-labelledby="service-label">
      <div class="container">

        <p class="section-subtitle" id="service-label">{% trans "Чем мы занимаемся?" %}</p>

        <h2 class="h2 section-title">
          {% trans "Мы - компания EvionPlus, занимающаяся гидроэнергетикой в Кыргызстане." %}
        </h2>

        <ul class="grid-list">

          <li>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
              </div>

              <h3 class="h4 card-title">{% trans "24/7 Поддержка" %}</h3>

              <p class="card-text">
                {% trans "Онлайн обслуживание, техническая поддержка Колл-центры всегда доступны и готовы проконсультировать по вопросам инвестиции 24/7." %}
              </p>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="shield-checkmark-outline" aria-hidden="true"></ion-icon>
              </div>

              <h3 class="h4 card-title">{% trans "Экология в приоритете" %}</h3>

              <p class="card-text">
                {% trans "Мы стремимся снизить вред нашей деятельности на окружающую среду и работаем над улучшением экологических показателей наших проектов." %}
              </p>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="cloud-download-outline" aria-hidden="true"></ion-icon>
              </div>

              <h3 class="h4 card-title">{% trans "Надежность и качество" %}</h3>

              <p class="card-text">
                {% trans "Мы обеспечиваем качественное производство энергии, удовлетворяющее самым высоким стандартам качества." %}
              </p>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="pie-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <h3 class="h4 card-title">{% trans "Эффективность и экономия" %}</h3>

              <p class="card-text">
                {% trans "Мы создаем эффективные источники энергии, снижая экономические затраты наших клиентов и предлагая экологичные альтернативы." %}
              </p>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
          - #ABOUT
        -->

    <section class="about" aria-labelledby="about-label">
      <div class="container">

        <figure class="about-banner">
          <img src={% static "assets/images/about-banner.png" %} width="800" height="580" loading="lazy"
            alt="about banner" class="w-100">
        </figure>

        <div class="about-content">

          <p class="section-subtitle" id="about-label">{% trans "Почему мы?" %}</p>

          <h2 class="h2 section-title">
            {% trans "EvionPlus: Гидроэнергетика в КР" %}
          </h2>

          <ul>

            <li class="about-item">
              <div class="accordion-card expanded" data-accordion>

                <h3 class="card-title">
                  <button class="accordion-btn" data-accordion-btn>
                    <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                    <spna class="span h5">{% trans "Гидроэнергетика в КР" %}</spna>
                  </button>
                </h3>

                <p class="accordion-content">
                  {% trans "Мы предоставляем услуги в области гидроэнергетики и в настоящее время работаем в нескольких регионах Кыргызстана. Наша цель - предоставлять надежные и устойчивые источники энергии для наших клиентов. Присоединяйтесь к нам, чтобы узнать больше о том, как мы можем помочь сделать мир более чистым и устойчивым." %}
                </p>

              </div>
            </li>
pytt
            <li class="about-item">
              <div class="accordion-card" data-accordion>

                <h3 class="card-title">
                  <button class="accordion-btn" data-accordion-btn>
                    <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                    <spna class="span h5">{% trans "Проекты" %}</spna>
                  </button>
                </h3>

                <p class="accordion-content">
                  {% trans "Мы работаем над несколькими гидроэнергетическими проектами по всей стране. Каждый проект уникален и имеет свои особенности, но все они нацелены на предоставление надежного и эффективного источника энергии для наших клиентов." %}
                </p>

              </div>
            </li>

            <li class="about-item">
              <div class="accordion-card" data-accordion>

                <h3 class="card-title">
                  <button class="accordion-btn" data-accordion-btn>
                    <ion-icon name="chevron-down-outline" aria-hidden="true" class="down"></ion-icon>

                    <spna class="span h5">{% trans "Наша команда" %}</spna>
                  </button>
                </h3>

                <p class="accordion-content">
                  {% trans "Мы имеем высококвалифицированных специалистов, которые повышают нашу компетентность и эффективность. Наша команда готова решать сложные задачи, обеспечивая надежность и качество наших проектов." %}
                </p>

              </div>
            </li>

          </ul>

        </div>

      </div>
    </section>





    <!-- 
          - #FEATURE
        -->

    <section class="section feature" aria-labelledby="feature-label">
      <div class="container">

        <figure class="feature-banner">
          <img src={% static "assets/images/feature-banner.png" %} width="800" height="531" loading="lazy"
            alt="feature banner" class="w-100">
        </figure>

        <div class="feature-content">

          <p class="section-subtitle" id="feautre-label">Наша миссия</p>

          <h2 class="h2 section-title">
            {% trans "Миссия компании — надежное обеспечение общества чистой и доступной энергией." %}
          </h2>

          <p class="section-text">
            {% trans "Стратегия направлена на обеспечение надежного энергоснабжения и безопасного функционирования энергообъектов, устойчивое развитие производства электроэнергии с фокусом на чистую энергию, развитие энергетики Дальнего Востока и рост ценности компании" %}
          </p>

        </div>

      </div>
    </section>





    <!-- 
          - #STATS
        -->

    <section class="stats" aria-label="our stats">
      <div class="container">

        <ul class="stats-card has-bg-image" style="background-image: url({% static 'assets/images/stats-bg.jpg' %})">

          <li>
            <p class="card-text">
              <span class="h1">18</span>

              <spna class="span">{% trans "мгВатт Мощность ГЭСа" %}</spna>
            </p>
          </li>

          <li>
            <p class="card-text">
              <span class="h1">3230</span>

              <spna class="span">{% trans "Счастливых клиентов" %}</spna>
            </p>
          </li>

          <li>
            <p class="card-text">
              <span class="h1">218</span>

              <spna class="span">{% trans "Экспертных специалистов" %}</spna>
            </p>
          </li>

          <li>
            <p class="card-text">
              <span class="h1">№1</span>

              <spna class="span">{% trans "В Кыргызстане" %}</spna>
            </p>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
          - #PROJECT
        -->

    <section class="section project" aria-labelledby="project-label">
      <div class="container">

        <p class="section-subtitle" id="project-label">{% trans "Новости" %}</p>

        <h2 class="h2 section-title">
          {% trans "Смотри актуальные новости EvionPlus." %}
        </h2>

        <ul class="grid-list">

          {% for new in news %}
          <li>
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 560; --height: 350;">
                <img src={{ new.image.url }} width="560" height="350" loading="lazy" alt="Ligula tristique quis risus"
                  class="img-cover">
              </figure>

              <div class="card-content">

                <h3 class="h3">
                  <a href="#" class="card-title">{{ new.title }}</a> <!-- FIXME -->
                </h3>

                <p class="card-text">
                  {{ new.body|truncatewords:100|safe }}
                </p>

                <ul class="card-meta-list">

                  <li class="card-meta-item">
                    <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                    <time class="meta-text" datetime="2022-04-14">{{ new.date }}</time>
                  </li>

                  <li class="card-meta-item">
                    <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>

                    <span class="meta-text">{{ new.category.title }}</span>
                  </li>

                </ul>

              </div>

            </div>
          </li>
          {% endfor %}

        </ul>

      </div>
    </section>





    <!-- 
      - #CTA
    -->

    <section class="cta" aria-label="call to action">
      <div class="container">

        <h2 class="h2 section-title">
          {% trans "Контакты компании EvionPlus" %}
        </h2>

      </div>
    </section>

  </article>
</main>
{% endblock content %}